<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Platos</title>
</head>
<body>
<nav>
    <a href="/">Listado</a>
    <a href="/formulario">Nuevo</a>
</nav>
<h1>Mi Restaurante</h1>
<p>Mis platos:</p>

<form th:action="@{/filtrar}" method="get">
    <select name="tipo" onchange="this.form.submit()">
        <option value="" disabled selected>Filtrar por tipo</option>
        <option value="PRIMERO">Primero</option>
        <option value="SEGUNDO">Segundo</option>
        <option value="POSTRE">Postre</option>
    </select>
    <a th:href="@{/}">Ver todos</a>
</form>

<tr th:each="p, stat : ${platos}">
    <td th:text="${p.nombre}"></td>
    <td th:text="${p.precio}"></td>
    <td><a th:href="@{/detalle/{id}(id=${stat.index})}">Pulsa para ver con detalle o editar</a></td>
    <br>
</tr>
</body>
</html>